

.wrapper {
    display: grid;
    padding: 10%;
    grid-template-columns: 2fr 1fr;
    height: 400px;

}
.map,.sidebar{
    border: 1px solid black;
}
.map {
    grid-column: 1 / 2;
}
.sidebar {
    grid-column: 2 /3;
    border-left: none;
    overflow-y: scroll;
}
.sidebar ul{
    margin: 0; 
    padding: 0;
}
.sidebar li{
    list-style-type: none;
    padding: 20px;
}
.sidebar li:not(:last-child){
    border-bottom: 1px solid black;
}
.sidebar li:hover{
    background-color: lightblue;
}
