body {
    background-color: white;
}
#buyer-content-wrapperr{
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.map-wrapper {
    display: grid;
    grid-column: 2/3;
    grid-row: 1;
    grid-template-columns: 2fr 1fr;
    justify-content: center;    
    height: 40vh;
    padding: 0px 0px 10px 0px;
}
#buyer-content-wrapper h1{
    text-align: center;
    text-decoration: underline;
    padding: 10px 0px 10px 0px;
}
#map,.sidebar{
    border: 1px solid black;
    align-items: stretch;
    height: 100%;
}
#map {
    overflow: hidden; /* keeps container same size */
}
#map img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.sidebar {
    
    border-left: none;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sidebar ul{
    margin: 0; 
    padding: 0;
}
.sidebar li{
    font-size: calc(13px + 0.5vw);
    list-style-type: none;
    transition: all .35s;
    padding: calc(10px + 1vw) 13px calc(10px + 1vw) 5px;
    width: 100%;
    float:left;
    border-bottom: 1px solid black;
}

.sidebar li:hover{
    background-color: lightblue;
}
.name-display, .mile-display, .available-display {
    display: inline-block;
    width: fit-content;
    padding: 2px;

}
.mile-display{
    /* Adjust color based on distance*/
}
.available-display{
    /* Adjust color based on availability*/
    color:lightgreen;
}
#seller-info {
    visibility: hidden;
}
.table-wrapper {
    display: grid;
    grid-column: 2/3;
    grid-row: 2;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
}
#seller-info table,tr,th,td {
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-collapse: collapse;
    border:1px solid black;
    width: 50%;
}
#seller-info h2{
    grid-row: 1;
}
#seller-info table{
    grid-row: 2;
}
#seller-info a{
    padding-top: 10px;
}
#seller-info .button{
    background-color: #1c87c9;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: all .35s;
}
#seller-info .button:hover{
    background-color: lightgreen;
}

