body {
    background-color: white;
}

.content-grid {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
}

.content-grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.map-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-content: center;
    height: 40vh;
    padding: 0px 0px 10px 0px;
}

.grid-center {
    display: flex;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.small-button {
    width: 20%;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.content-grid h1 {
    text-decoration: underline;
    padding: 10px 0px 10px 0px;
}

.grid-r1 {
    grid-row: 1;
}

.grid-r2 {
    grid-row: 2;
}

.grid-r3 {
    grid-row: 3;
}
.grid-r4{
    grid-row: 4;
}
.grid-c1 {
    grid-column: 1/2;
}

.grid-c2 {
    grid-column: 2/3;
}

.grid-c3 {
    grid-column: 3/4;
}

.grid-padding-1 {
    padding-top: 40px;
    gap: 0.5em;
}
.expandToMax{
    height:max-content;
}
.small-button {
    width: 20%;
}
.box {
    display: inline-block;
    background-color: lightgray;
    border-radius: 10px;
    padding: 20px;
    height: 100%;
}
.box-grid{
    display: flex;
    align-items: center;
    justify-content: center;
}
#map,
.sidebar {
    border: 1px solid black;
    align-items: stretch;
    height: 100%;
}

#map {
    overflow: hidden;
    /* keeps container same size */
}

#map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar {
    border-left: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar li {
    font-size: calc(13px + 0.5vw);
    list-style-type: none;
    transition: all .35s;
    padding: calc(10px + 1vw) 13px calc(10px + 1vw) 5px;
    width: 100%;
    float: left;
    border-bottom: 1px solid black;
}

.sidebar li:hover {
    background-color: lightblue;
}

.name-display,
.mile-display,
.available-display {
    display: inline-block;
    width: fit-content;
    padding: 2px;

}

.mile-display {
    /* Adjust color based on distance*/
}

.available-display {
    /* Adjust color based on availability*/
    color: lightgreen;
}

#seller-info {
    visibility: hidden;
}

.table-grid {
    display: grid;
    grid-column: 2/3;
    grid-row: 3;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
}

.seller-t table,
.seller-t tr,
.seller-t th,
.seller-t td {
    text-align: center;
    font-weight: normal;
    text-decoration: none;
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
}

.seller-t a {
    padding-top: 10px;
}

.button {
    background-color: grey;
    border: none;
    color: white;
    padding: 20px 34px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: all .35s;
}

.button:hover {
    background-color: darkgray;
}
.order-detail tr{
    background-color: #f2f2f2;
}
.order-detail th, .seller-t th{
    font-size: 15px;
    padding: 20px;
}