* {
    font-family: SansSerif, sans-serif;
}

body {
    background-color: whitesmoke;
}

.logo {
    text-align: left;
    font-size: xxx-large;
}

a:link,
a:visited {
    color: unset;
    text-decoration: unset;
}

.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
}

.nav a:hover {
    background-color: cornsilk;
    color: black;
}

label {
    font-size: large;
}

.form-flex-container {
    display: flex;
    justify-items: center;
    background-color: darkgrey;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 60px;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

p {
    font-size: large;
}

input[type=submit] {
    width: 50%;
    display: block;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    margin: auto;
}

.welcome {
    font-size: large;
    padding: 20px;
}

#mgrid1 {
    display: grid;
    justify-content: left;
    padding: 10px;
    background-color: darkgrey;
    border-radius: 10px;
    margin: 20px 200px;
    grid-template-columns: auto auto;
    grid-column-gap: 0;
    grid-row-gap: 20px;
}

#mgrid2 {
    display: grid;
    justify-content: right;
    padding: 10px;
    margin: 60px;
    grid-template-columns: 1fr 1fr 1fr;
    border-collapse: collapse;
    background-color: darkgrey;
    border-radius: 10px;
}

.mgrid1-item1 {
    grid-column: span 2;
}

.mgrid1-item2 {
    font-size: large;
}

.mgrid1-item3 {
    font-size: large;
}

.mgrid1-item4 {
    font-size: large;
}

.mgrid1-item5 {
    font-size: large;
    display: none;
}

.mgrid1-item4:hover+.mgrid1-item5 {
    display: block;
}

.mgrid1-item6 {
    font-size: large;
    grid-row: 4;
}

.mgrid1-item7 {
    font-size: large;
    grid-row: 4;
}

.mgrid1-item8 {
    grid-column: span 1;
    grid-row: 5;
}

.mgrid2-item {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    border: 1px solid grey
}

.mgrid2-item2 {
    grid-column: span 3;
}

#form-grid {
    display: grid;
    background-color: darkgrey;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#form-grid div {
    padding: 5px;
}

.grid-item3 {
    grid-column: span 2;
}

.grid-item4 {
    width: 50%;
    grid-column: span 1;
}

.grid-item5 {
    width: 50%;
    grid-column: span 1;
}

.grid-item6 {
    width: 50%;
}

.grid-item7 {
    grid-column: span 2;
    grid-row: 5;
}

h1 {
    padding: 20px;
    text-align: center;
    font-size: xx-large;
}