*{
    font-family: SansSerif, sans-serif;
}
body{
    background-color: whitesmoke;
}

.logo{
    text-align: left;
    font-size: xxx-large;
}
a:link,a:visited{
   color: unset;
    text-decoration: unset;
}
.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
}

.nav a:hover {
    background-color: cornsilk;
    color: black;
}
label{
    font-size: large;
}
.form-flex-container{
    display: flex;
    justify-items: center;
    background-color: darkgrey;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;

}
input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
p{
    font-size: large;
}
input[type=submit] {
    width: 50%;
    display: block;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    cursor: pointer;
    margin: auto;
}
.mflex1{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;


}
.mflex2{
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding: 20px;
}
#form-grid{
    display:grid;
    background-color: darkgrey;
    border-radius: 10px;
    padding: 10px;
    grid-template-columns: auto auto ;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
#form-grid div{
    padding: 5px;
}

.grid-item1{

}
.grid-item2{
}
.grid-item3{
    grid-column: span 2;

}
.grid-item4{
    width: 50%;
    grid-column: span 1;

}
.grid-item5{
    width: 50%;
    grid-column: span 1;


}
.grid-item6{
    width: 50%;

}
.grid-item7{
    grid-column: span 2;
    grid-row: 5;
}
h1{
    padding: 20px;
    text-align: center;
    font-size: xx-large;
}

