*{
    font-family: SansSerif, sans-serif;
}
body {
    background-color: whitesmoke;
}
form {
    margin: 0 auto;
    height: fit-content;
    width: 50%;
    padding: 30px;
    border: 1px solid black;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-top: 50px;
    justify-content: center;
}
h1 {
    margin-top: 0px;
    text-align: center;
    font-size: xx-large;
}
.container {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin-bottom: 10px;
}
label {
  text-align: center;
  width: 100%;
}

form label {
    display: block;
    margin-bottom: 5px;
    text-align: center;
}
form input[type="text"],
form select[type="opt"],
form input[type="password"],
form input[type="submit"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid darkgrey;
    text-align: center;
}

select {
    color: grey;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 100px auto 0;
}
th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid grey;
    padding: 15px;
}
th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
}


.logo{
    text-align: left;
    font-size: xxx-large;
}
a:link,a:visited{
    color: unset;
    text-decoration: unset;
}
.nav {
    overflow: hidden;
    background-color: #333;
}

.nav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
}

.nav a:hover {
    background-color: cornsilk;
    color: black;
}

